*{
    margin: 0;
    padding: 0;
}

body{
    color:#E3C6AF;
}

main{
    background-color: #7E97A7;
}

.text_benefits{
    background-color: #524632;
    border-radius:20px;
} 

.benefits img{
    border-radius: 70px;
}

.text_rigths{
    background-color: #524632;
    border-radius:20px;
}

.rigths img{
    border-radius: 20px;
}

.referencia{
    color:#a5744c;
    
}

.communities{
    color:#524632;
}

.community{
    min-width: 200px;
}


.fa-brands{
    color:#524632;
}

.community img{
    border-radius:200px;
    max-width: 100px;
}





