*{
    margin: 0;
    padding: 0;
}

body{
    color:#E3C6AF;
}

main{
    background-color: #7E97A7;
}

.carousel-item img{
    object-position: bottom;
}

.text_benefits{
    background-color: #524632;
    border-radius:20px;
} 

.benefits img{
    border-radius: 70px;
}

.text_rigths{
    background-color: #524632;
    border-radius:20px;
}

.rigths img{
    border-radius: 20px;
}

.communities{
    padding-top: 30px;
    padding-bottom: 30px;
}

.community img{
    border-radius:200px;
    max-width: 100px;
}

.nav-link{
    color: white;
}

.linkoe{
    text-decoration: none;
}


